/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100vw;
  margin-block: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(41, 41, 41, 0);
  border-radius: 5px;
  border: 1px solid #171f2d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #354259f8;
}
